body{
    background-color: lightblue;
}
#profession{
    font-style: italic;
    font-weight: 900;
    font-size: 18px;
}
#p1{
    font-style: italic;
    font-weight: bolder;
}
button{
    border-style: solid;
    border-radius: 25%;
    border-color: blue;
}
button:hover{
    color: red;
}
#hello{
    border-style: solid;
    
}
